rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    match /packages/{userId}/{fileName} {
      allow read: if true;
      allow write: if isAdmin() && request.auth.uid == userId;
    }
  }
}
